@font-face {
  font-family: "Barlow Condensed";
  src: url("../../config/fonts/Barlow_Condensed/BarlowCondensed-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cardo";
  src: url("../../config/fonts/Cardo/Cardo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* mobile */
.top {
  height: 100vh;
  background-image: url("../../config/images/couple@2x.jpg");
  background-size: cover;
  background-position: 60% 40%;
  border-style: solid;
  border-width: 5px;
  border-color: #ffd200;
}

.intro {
  height: 100%;
}

.register-container {
  text-align: center;
  margin-top: 10%;
}

.register-container a {
  text-decoration: none;
  font-size: 1.5em;
  color: #262626;
  letter-spacing: 0;
  background-color: #ffd200;
  border-style: none;
  padding: 2%;
  padding-left: 11%;
  padding-right: 11%;
  font-family: "Barlow Condensed";
}

.logo-container {
  margin: 0 auto;
}

.top-logo {
  width: 50px;
  margin: 0 auto;
}

.scroll {
  width: 40px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  left: 48%;
}

.top-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  justify-content: space-between;
  position: relative;
  top: 25%;
}

.top-center-container h1 {
  font-family: "Barlow Condensed";
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
}
.top-center-container span {
  font-family: "Cardo";
  color: #ffd200;
  letter-spacing: 1.5px;
}

/* desktop */
@media (min-width: 990px) {
  .top {
    height: 100vh;
    background-image: url("../../config/images/couple@2x.jpg");
    background-size: cover;
    background-position: center top;
    border-style: solid;
    border-width: 10px;
    border-color: #ffd200;
  }

  .register-container {
    text-align: right;
    margin-top: 3%;
    margin-right: 3%;
  }
  .register-container a {
    text-decoration: none;
    font-size: 1.5em;
    color: #262626;
    letter-spacing: 0;
    background-color: #ffd200;
    border-style: none;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: "Barlow Condensed";
  }

  .top-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    justify-content: space-between;
    position: relative;
    top: 18%;
  }

  .top-center-container h1 {
    font-family: "Barlow Condensed";
    font-size: 60px;
    color: white;
    letter-spacing: 3px;
  }
  .top-center-container span {
    font-family: "Cardo";
    color: #ffd200;
    letter-spacing: 1.5px;
    font-size: 20px;
  }

  .top-logo {
    width: 70px;
    margin: 0 auto;
  }

  .scroll {
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    left: 48%;
  }
}
